<app-menu></app-menu>
<main>
  <div class="container">
    <div>
      <h3>User Edit</h3>
    </div>
    <div>
      <table class="table table-sm  table-stripe table-hover" *ngIf="user">
        <thead>
          <tr>
            <th>Id</th>
            <td><input [(ngModel)]="user.id" type="text" disabled></td>
          </tr>
          <tr>
            <th>Username</th>
            <td><input [(ngModel)]="user.username" type="text"></td>
          </tr>
          <tr>
            <th>Password</th>
            <td><input [(ngModel)]="user.password" type="password">
            </td>
          </tr>
          <tr>
            <th>First Name</th>
            <td><input [(ngModel)]="user.firstname" type="text">
            </td>
          </tr>
          <tr>
            <th>Last Name</th>
            <td><input [(ngModel)]="user.lastname" type="text"></td>
          </tr>
          <tr>
            <th>Email</th>
            <td><input [(ngModel)]="user.email" type="text"></td>
          </tr>
          <tr>
            <th>Phone</th>
            <td><input [(ngModel)]="user.phone" type="text"></td>
          </tr>
          <tr>
            <th>Reviewer</th>
            <td><input [disabled]="!isAdmin()" [(ngModel)]="user.isReviewer" type="checkbox"></td>
          </tr>
          <tr>
            <th>Admin</th>
            <td><input [disabled]="!isAdmin()" [(ngModel)]="user.isAdmin" type="checkbox"></td>
          </tr>
        </thead>
      </table>
      <div class="flex">
        <span>
          <button *ngIf="isAdmin() || isOwner()" (click)="edit()" class="btn btn-primary float-right">
            Save
            <span class="material-icons md-18">
              save
            </span>
          </button>
        </span>
      </div>
    </div>
  </div>
</main>