<app-menu></app-menu>
<main>
    <div class="container">
        <h3>Requestline List</h3>
        <span><a routerLink="/requestline/create"> Create </a></span>
        <div class="filter-box">
            <div class="search"><input [(ngModel)]="searchCriteria" type="text" placeholder="Filter"></div>
        </div>
        <table class="table table-sm table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Request Id</th>
                    <th>Item</th>
                    <th>Qty.</th>
                    <th>Price</th>
                    <th>Total</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody *ngIf="!waiting">
                <tr *ngFor="let requestline of requestlines | searchRequestline: searchCriteria">
                    <td>{{requestline.id}}</td>
                    <td>{{requestline.requestId}}</td>
                    <td>{{requestline.product.name}}</td>
                    <td>{{requestline.quantity}}</td>
                    <td>${{requestline.product.price}}</td>
                    <td>${{requestline.product.price * requestline.quantity}}</td>
                    <td>
                        <a routerLink="/requestline/edit/{{requestline.id}}">Edit</a>
                        <span> | </span>
                        <a routerLink="/requestline/detail/{{requestline.id}}">Details</a>
                        <span> | </span>
                        <a routerLink="/requestline/detail/{{requestline.id}}">Lines</a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="spinner">
            <span *ngIf="waiting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            <span *ngIf="waiting">
                Loading...
            </span>
        </div>
    </div>
</main>