<div class="list-info">
  <h3>
    <span class="material-icons">
      receipt_long
    </span>
    Items
  </h3>
  <span>
    <button [disabled]="isApproved()" type="button" class="btn btn-primary btn-sm" (click)="toggleShhh()"
      *ngIf="isOwner || isAdmin()">
      Add
      <span class="material-icons md-18">
        add_circle
      </span>
    </button>
  </span>

</div>
<table class="table table-sm table-striped table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Item</th>
      <!--<th *ngIf="isReviewer()">Vendor</th>-->
      <th>Qty</th>
      <th>Price</th>
      <th>Total</th>
      <th *ngIf="isOwner || isAdmin()">Action</th>
    </tr>
  </thead>
  <tbody *ngIf="requestlines && !waitingRl">
    <!--<tr *ngFor="let requestline of request.requestLine | searchRequestline: searchCriteria">-->
    <tr *ngFor="let reqline of requestlines">
      <td>{{reqline.id}}</td>
      <td>{{reqline.product.name}}</td>
      <!--<td *ngIf="isReviewer()">{{reqline.vendor.code}}</td>-->
      <td>{{reqline.quantity}}</td>
      <td>{{reqline.product.price | currency}}</td>
      <td>{{reqline.product.price * reqline.quantity | currency}}</td>
      <td *ngIf="isOwner || isAdmin()">
        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <button [disabled]="isApproved()" class="btn btn-primary btn-sm"
            routerLink="/requestline/edit/{{reqline.id}}">Edit<span class="material-icons md-18">
              edit_note
            </span></button>
          <button [disabled]="isApproved()" (click)="deleteline(reqline)" class="btn btn-danger btn-sm">Delete<span
              class="material-icons md-18">
              delete_forever
            </span></button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<div class="spinner">
  <span *ngIf="waitingRl" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  <span *ngIf="waitingRl">
    Loading...
  </span>
</div>
<div class="spinner">
  <span *ngIf="waitingRl" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
  <span *ngIf="waitingRl">
    Loading...
  </span>
</div>
