<app-menu></app-menu>
<main>
  <div class="container">
    <h3><span class="material-icons">description</span>Request</h3>
    <table class="table table-sm table-striped table-hover" *ngIf="request">
      <thead>
        <tr>
          <th>Id</th>
          <th>Description</th>
          <th *ngIf="showReason">Rejection Reason</th>
          <th>Status</th>
          <th>Total</th>
          <th>User</th>
          <th *ngIf="isOwner || isAdmin || isReviewer">Action</th>
        </tr>
      </thead>
      <tbody *ngIf="!waiting">
        <tr>
          <td>{{request.id}}</td>
          <td>{{request.description}}</td>
          <td *ngIf="showReason">
            <input [(ngModel)]="request.rejectionReason" type="text" class="form-control form-control-dark w-100"
              id="reason">
          </td>
          <td>{{request.status}}</td>
          <td>{{request.total | currency}}</td>
          <td>{{request.user.username}}</td>
          <td>
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
              <button type="button" class="btn btn-success btn-sm" (click)="approve()"
                *ngIf="isReviewer && !isOwner">Approve<span class="material-icons md-18">
                  fact_check
                </span></button>
              <button [disabled]="isApproved()" type="button" class="btn btn-warning btn-sm" (click)="review()"
                *ngIf="(isOwner || isAdmin)">Review<span class="material-icons md-18">
                  add_task
                </span></button>
              <button type="button" class="btn btn-danger btn-sm" (click)="toggleReason()"
                *ngIf="!showReason && (isReviewer && !isOwner)">Reject<span class="material-icons md-18">
                  thumb_down_alt
                </span></button>
              <button type="button" class="btn btn-danger btn-sm" (click)="reject()" *ngIf="showReason">Confirm
                Reject<span class="material-icons md-18">
                  thumb_down
                </span></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="spinner">
      <span *ngIf="waiting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span *ngIf="waiting">
        Loading...
      </span>
    </div>
    <app-requested></app-requested>

    <!--
    <div class="list-info">
      <h3>
        <span class="material-icons">
          receipt_long
        </span>
        Items
      </h3>


      <!--
        <span *ngIf="request">
        <button [disabled]="isApproved()" type="button" class="btn btn-primary btn-sm"
          routerLink="/requestline/create/{{request.id}}" *ngIf="isOwner || isAdmin">
          Add
          <span class="material-icons md-18">
            add_circle
          </span>
        </button>
      </span>


      <span>
        <button [disabled]="isApproved()" type="button" class="btn btn-primary btn-sm" (click)="toggleShhh()"
          *ngIf="isOwner || isAdmin">
          Add
          <span class="material-icons md-18">
            add_circle
          </span>
        </button>
      </span>

    </div>
    <table class="table table-sm table-striped table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Item</th>
          <th>Qty</th>
          <th>Price</th>
          <th>Total</th>
          <th *ngIf="isOwner || isAdmin">Action</th>
        </tr>
      </thead>


      <tbody *ngIf="request && !waitingRl">
        <tr *ngFor="let reqline of request.requestLine">
         <td>{{reqline.id}}</td>
          <td>{{reqline.product.name}}</td>
          <td>{{reqline.quantity}}</td>
          <td>{{reqline.product.price | currency}}</td>
          <td>{{reqline.product.price * reqline.quantity | currency}}</td>
          <td *ngIf="isOwner || isAdmin">
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
              <button [disabled]="isApproved()" class="btn btn-primary btn-sm"
                routerLink="/requestline/edit/{{reqline.id}}">Edit<span class="material-icons md-18">
                  edit_note
                </span></button>
              <button [disabled]="isApproved()" (click)="deleteline(reqline)" class="btn btn-danger btn-sm">Delete<span
                  class="material-icons md-18">
                  delete_forever
                </span></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="spinner">
      <span *ngIf="waitingRl" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span *ngIf="waitingRl">
        Loading...
      </span>
    </div>
    -->
  </div>
  <div class="containter">
    <app-product-list *ngIf="getShhh()"></app-product-list>
  </div>
</main>
