<div class="form-login">
  <div>
    <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

    <div class="form-floating">
      <input [(ngModel)]="user.username" type="text" class="form-control" id="floatingInput" placeholder="Username"
        (change)="reset()">
      <label for="floatingInput">Username</label>
    </div>
    <div class="form-floating">
      <input [(ngModel)]="user.password" type="password" class="form-control" id="floatingPassword"
        placeholder="Password" (change)="reset()">
      <label for="floatingPassword">Password</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" (click)="login()">
      <span *ngIf="!waiting">
        Login
      </span>
      <span *ngIf="waiting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span *ngIf="waiting">
        Checking...
      </span>
    </button>

    <span *ngIf="!status">Incorrect username or password.</span>
  </div>
</div>
