nav {
  padding: 0.75rem;
}

main {
  margin: 5rem 2%;
}

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5);
}
.navbar-nav {
  margin-right: auto;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

input {
  border-radius: 8px;
  border: thin double;
}

.form-floating:last-of-type {
  margin: 0 0 1rem 0;
}

#reason {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
  line-height: 1;
}

.material-icons {
  vertical-align: text-top;
  margin: 0 0.25rem;
}

a {
  text-decoration: none;
}

.material-icons.md-18 {
  font-size: 18px;
}
.material-icons.md-24 {
  font-size: 24px;
}
.material-icons.md-36 {
  font-size: 36px;
}
.material-icons.md-48 {
  font-size: 48px;
}

ol.zero {
  list-style: decimal-leading-zero;
}

ol.upper {
  list-style-type: upper-alpha;
}

ol.lower {
  list-style-type: lower-alpha;
}

ol.upper-roman {
  list-style-type: upper-roman;
}

ol.lower-roman {
  list-style-type: lower-roman;
}

.greeting {
  color: rgba(255, 255, 255, 0.5);
  margin: 0 1rem;
}

.spinner-border-sm {
  height: 2rem;
  width: 2rem;
}

@media (min-width: 1261px) {
  main {
    margin: 4rem 0;
  }
}

.list-info {
  display: inline-block;
  width: 50%;
}
.filter-box {
  display: inline;
}
div.search {
  display: block;
  float: right;
}

.spinner {
  position: absolute;
  left: 50%;
  color: #0d6efd;
}

.product-list {
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: 0px -1em 1.5em rgb(0 0 0 / 10%), 0 0.125em 0.5em rgb(0 0 0 / 15%);
  width: 110%;
  max-width: 1336px;
  padding: 1rem;
  left: -1rem;
  position: relative;
}

img.product-preview {
  max-width: 200px;
}

input.x {
  width: 1em;
}
input.xx {
  width: 2em;
}
input.xxx {
  width: 3em;
}
input.xxxx {
  width: 4em;
}
input.xxxxx {
  width: 5em;
}
input.xxxxx {
  width: 6em;
}
