<app-menu></app-menu>
<main>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <div class="home-sqr" (click)="goProducts()">
          <div class="hs-title">
            <h1>Products</h1>
          </div>
          <div class="hs-icon">
            <h1 class="home-sqr">
              <span class="material-icons md-60">inventory</span>
            </h1>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="home-sqr" (click)="goRequests()">
          <div class="hs-title">
            <h1>Requests</h1>
          </div>
          <div class="hs-icon">
            <h1 class="home-sqr">
              <span class="material-icons md-60">description</span>
            </h1>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="home-sqr" (click)="goHPending()">
          <div class="hs-title">
            <h1>Pending</h1>
          </div>
          <div class="hs-icon">
            <h1 class="home-sqr">
              <span class="material-icons md-60">rule</span>
            </h1>
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm">
        <div class="home-sqr" (click)="goUsers()">
          <div class="hs-title">
            <h1>Users</h1>
          </div>
          <div class="hs-icon">
            <h1 class="home-sqr">
              <span class="material-icons md-60">account_circle</span>
            </h1>
          </div>
        </div>
      </div>

      <div class="col-sm">
        <div class="home-sqr" (click)="goVendors()">
          <div class="hs-title">
            <h1>Vendors</h1>
          </div>
          <div class="hs-icon">
            <h1 class="home-sqr">
              <span class="material-icons md-60">store</span>
            </h1>
          </div>
        </div>
      </div>

      <div class="col-sm">
        <div class="home-sqr" (click)="goHelp()">
          <div class="hs-title">
            <h1>Help</h1>
          </div>
          <div class="hs-icon">
            <h1 class="home-sqr">
              <span class="material-icons md-60">help</span>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
