<app-menu></app-menu>
<main>
  <div class="container">
    
    <div class="home-sqr" (click)="goUsers()">
      <h1>Users</h1>
      <h1 class="home-sqr"><span
        class="material-icons md-60">account_circle</span></h1>
    </div>
    
    <div class="home-sqr" (click)="goRequests()">
      <h1>Requests</h1>
      <h1 class="home-sqr"><span
        class="material-icons md-60">description</span></h1>
    </div>
    
    <div class="home-sqr" (click)="goHPending()">
      <h1>Pending</h1>
      <h1 class="home-sqr"><span
        class="material-icons md-60">rule</span></h1>
    </div>
    
    <div class="home-sqr" (click)="goProducts()">
      <h1>Products</h1>
      <h1 class="home-sqr"><span
        class="material-icons md-60">inventory</span></h1>
    </div>
    
    <div class="home-sqr" (click)="goVendors()">
      <h1>Vendors</h1>
      <h1 class="home-sqr"><span
        class="material-icons md-60">store</span></h1>
    </div>
    
    <div class="home-sqr" (click)="goHelp()">
      <h1>Help</h1>
      <h1 class="home-sqr"><span
        class="material-icons md-60">help</span></h1>
    </div>

  </div>
</main>