<app-menu></app-menu>
<main>
  <div class="container">
    <div class="list-info">
      <h3><span class="material-icons">store</span>Product List</h3>
      <button *ngIf="isAdmin()" type="button" class="btn btn-primary btn-sm" routerLink="/product/create"> Add
        <span class="material-icons md-18">
          add_circle
        </span>
      </button>


    </div>
    <div class="filter-box">
      <div class="search"><input [(ngModel)]="searchCriteria" type="text" placeholder="Filter"></div>
    </div>
    <table class="table table-sm table-striped table-hover">
      <thead>
        <tr>
          <th>Id</th>
          <th>Unit</th>
          <th>Price</th>
          <th>Image</th>
          <th>Name</th>
          <th>Vendor</th>
          <th>Item Number</th>
          <th *ngIf="isAdmin() && !getShhh()">Action</th>
        </tr>
      </thead>
      <tbody [@filterAnimation]="products" *ngIf="!waiting">
        <tr *ngFor="let product of products | searchProduct: searchCriteria" class="product" (click)="open(product.id)">
          <td>{{product.id}}</td>
          <td>{{product.unit}}</td>
          <td>{{product.price | currency}}</td>
          <td>
            <div class="image-preview">
              <a href="{{product.photoPath}}">
                <img class="product-preview" src="{{product.photoPath}}">
              </a>
            </div>
          </td>
          <td>{{product.name}}</td>
          <td>{{product.vendor.code}} - {{product.vendor.name}}</td>
          <td>{{product.partNbr}}</td>
          <td *ngIf="!getShhh()">
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
              <button *ngIf="isAdmin()" type="button" class="btn btn-primary btn-sm"
                routerLink="/product/edit/{{product.id}}">Edit<span class="material-icons md-18">
                  edit_note
                </span></button>
              <button *ngIf="isAdmin()" type="button" class="btn btn-danger btn-sm"
                routerLink="/product/detail/{{product.id}}">Delete<span class="material-icons md-18">
                  delete
                </span></button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="spinner">
      <span *ngIf="waiting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      <span *ngIf="waiting">
        Loading...
      </span>
    </div>
  </div>
</main>
