<app-menu></app-menu>
<main>
    <div class="container">
        <h3>Product List</h3>
        <span><button type="button" class="btn btn-primary btn-sm" routerLink="/product/create"> Add <span class="material-icons md-18">
            add_circle
            </span></button></span>
        <span class="search"><input [(ngModel)]="searchCriteria" type="text" placeholder="Search"></span>
        <table class="table table-sm table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Part Number</th>
                    <th>Name</th>
                    <th>Vendor</th>
                    <th>Price</th>
                    <th>Unit</th>
                    <th>Image</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products | searchProduct: searchCriteria">
                    <td>{{product.id}}</td>
                    <td>{{product.partNbr}}</td>
                    <td>{{product.name}}</td>
                    <td>{{product.vendor.code}} - {{product.vendor.name}}</td>
                    <td>${{product.price}}</td>
                    <td>{{product.unit}}</td>
                    <td>
                        <div class="image-preview">
                            <a href="{{product.photoPath}}">
                                <img class="product-preview" src="{{product.photoPath}}">
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                            <button type="button" class="btn btn-primary btn-sm" routerLink="/product/edit/{{product.id}}">Edit<span class="material-icons md-18">
                                edit_note
                                </span></button>
                            <button type="button" class="btn btn-danger btn-sm"  routerLink="/product/detail/{{product.id}}">Delete<span class="material-icons md-18">
                                delete
                                </span></button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</main>