<app-menu></app-menu>
<main>
  <div class="container">
    <div>
      <h3>Product Edit</h3>
    </div>
    <div>
      <table class="table table-sm  table-stripe table-hover" *ngIf="product">
        <thead>
          <tr>
            <th>Id</th>
            <td><input [(ngModel)]="product.id" type="text" disabled></td>
          </tr>
          <tr>
            <th>Item Number</th>
            <td><input [(ngModel)]="product.partNbr" type="text"></td>
          </tr>
          <tr>
            <th>Name</th>
            <td><input [(ngModel)]="product.name" type="text">
            </td>
          </tr>
          <tr>
            <th>Price</th>
            <td>$<input [(ngModel)]="product.price" type="number">
            </td>
          </tr>
          <tr>
            <th>Unit</th>
            <td><input [(ngModel)]="product.unit" type="text"></td>
          </tr>
          <tr>
            <th>Photo</th>
            <td><input [(ngModel)]="product.photoPath" type="url"></td>
          </tr>
          <tr>
            <th>Vendor</th>
            <td>
              <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                [(ngModel)]="product.vendorId">
                <option *ngFor="let vendor of vendors" [ngValue]="vendor.id">{{vendor.name}}</option>
                <!--<option *ngFor="let vendor of vendors" {{vendor.id}}>{{vendor.name}}</option>-->
              </select>
            </td>
          </tr>
        </thead>
      </table>
      <div class="flex">
        <span>
          <button *ngIf="isAdmin()" (click)="edit()" class="btn btn-primary float-right">Save<span
              class="material-icons md-18">
              save
            </span></button>
        </span>
      </div>
    </div>
  </div>
</main>
